
html{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin: 0;
    background: #fdfffc;
    display: flex;
    justify-content: center;
}

.hoja-curriculum{
    background: #fdfffc;
    width: 800px;
    height: auto;
    border-left: 1px solid #dee2ff;
    border-right: 1px solid #dee2ff;
    border-top: 30px solid #0295A8;
    border-bottom: 30px solid #2ec4b6;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    padding: 25px;
  
}

header{
    color: #0295A8;
    font-weight: bold;
    border-top: 0 px; 
    display: flex;
    align-items: center; 
    width: auto;
    height:30px;   
} 

hr{
    background: #d9d9d9;
    height: 2px;
    border-radius: 50px;
    border: 0;
}

.section{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    height: auto;
}

.datos-personales{
    background: #f5f3f4;
    margin-right: 10px;
    padding: 10px;
    border-radius: 5px;
}

.foto{   
    display: flex;
    justify-content: center;   
    margin-top: 20px; 
} 

img{   
    border-radius: 6px;
}   
    
h3{
    color: #0295A8;
}

.idioma{
    display: flex;
    flex-direction: row;    
}

#idi{
    width: 50%;   
    padding: 0;
}
#puntos{
    color: #0295A8; 
    font-size: 40px;   
    display: flex;
    align-items: center;     

}

.circulos{
    background: #0295A8;
    width: 15px;
    height: 15px;
    margin-right: 3px;
    border-radius: 100%;
}

.circulos-des{
    background: #d9d9d9;
    width: 15px;
    height: 15px;
    margin-right: 3px;
    border-radius: 100%;
}

.informacion-personal{
    width: 100%;
    height: auto;
    padding: 10px;
}

.parrafo-perfil{
    text-align: justify;
}   

/*Estructura del contenedor de experiencias*/

.con-particion{
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
}

/*Estructura del contenedor de formacion*/

.con-particiondos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
    margin-top: 20px;   
}

.redu-margen{   
    margin: 0;
}

/*Estructura del contenedor de competencias*/

.con-conpetencias{
    display: flex;
    flex-direction: row;    
}

.con-div-competencia{
    width: 50%;
}




#color-titulos{
    color:#0295A8 ;
}


